body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

/* HEADER */

.header{

background:#ff2d2d;
padding:20px;

color:white;
text-align:center;

border-bottom-left-radius:20px;
border-bottom-right-radius:20px;

}

.logo h1{
margin:0;
font-size:26px;
}

.logo p{
margin:5px 0 10px;
font-size:13px;
}

/* SEARCH */

.search-box{

display:flex;
justify-content:center;

}

.search-box input{

width:80%;
padding:12px;

border-radius:25px;
border:none;

font-size:14px;

}

.search-btn{

margin-left:-40px;

background:none;

border:none;

color:white;

width:32px;
height:32px;

border-radius:50%;

}

.filter{

margin-top:10px;

}

.filter select{

padding:6px;
border-radius:6px;

}

/* CONTENT */

main{

padding:15px;

}

/* CARD */

.card{

background:white;

padding:16px;

border-radius:15px;

margin-bottom:15px;

box-shadow:0 4px 10px rgba(0,0,0,0.12);

}

.card-header{

display:flex;
justify-content:space-between;

}

.title{

font-weight:bold;
font-size:15px;

}

/* STATUS */

.status{
display:inline-block;
padding:4px 10px;
border-radius:6px;
font-size:12px;
font-weight:bold;
color:white;
}

.status.aktif{
background:#2ecc71;
}

.status.belum{
background:#f1c40f;
color:#000;
}

.status.habis{
background:#7f8c8d;
}

/* PRICE */

.price-normal{

font-size:13px;

color:#888;

margin-top:4px;

}

.price-normal.coret{

text-decoration:line-through;

}

.price-promo{

font-size:22px;

font-weight:bold;

color:#d50000;

margin-top:2px;

}

/* DISKON */

.diskon{

color:#1b8e3e;

font-weight:bold;

margin-top:4px;

}

/* META */

.meta{

margin-top:10px;

font-size:12px;

color:#555;

}

/* SCAN BUTTON */

.scan-btn{

position:fixed;

bottom:20px;
left:50%;

transform:translateX(-50%);

background:#ff2d2d;

border:none;

width:60px;
height:60px;

border-radius:50%;

font-size:26px;

color:white;

box-shadow:0 6px 12px rgba(0,0,0,0.2);

}